<a href="https://colab.research.google.com/github/voidsilver22/Labs/blob/main/1022251_CSL405_SBL_PYTHON_LAB_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Name: Swastik Sharma
### Branch : Computer Eng.(SEM IV)
### Batch : 3
### Roll No. : 1022251
### Practical : 2


Q. 4. Consider the following two lists:
    
    P = [2,3,5,7,11,13,17,23,29],
    
    T = ['A Study in Scarlet','A Scandle in Bohemia','The Sign of Four','The Hound of the Baskervilles']
    
    Illustrate the use of the following list functions:
    
    append(), count(), index(), insert(), pop(), remove(), reverse()



[*02 Marks*]

In [33]:
# Solution to Q.4.
# adding an element to the last of both lists
p = [2,3,5,7,11,13,17,23,29]
T = ['A Study in Scarlet','A Scandle in Bohemia','The Sign of Four','The Hound of the Baskervilles']
p.append(30)
print(p)
T.append('California')
print(T)

# counting the number of occurances in the list \
print(f"Checking the number of occurances of A Study in Scarlet {T.count('A Study in Scarlet')}")
print(f"Checking the number of occurances of 5 {p.count(5)}")

#Checking the index of an element

print(f"The position of The Sign of Four in the above list {T.index('The Sign of Four')}")
print(f"The position of 5 in the above list {p.index(5)}")

#Removing an element from the list using index
print(f"5 to be removed from the list {p} , the new list is {p.pop(2)}")
print(f" \'A Study in Scarlet\' removed from the list {T} , the new list is {T.pop(2)}")


# Removing an element using the element itself
print(f" 7 to be removed from the list {p} , the new list is {p.remove(7)}")
print(f" \'A Study in Scarlet\' removed from the list {T} , the new list is {T.remove('A Study in Scarlet')}")

#  Reversing the lists
print(f"Before {p} \t After: {p.reverse()}")
print(f"Before {T} \t After: {T.reverse()}")

[2, 3, 5, 7, 11, 13, 17, 23, 29, 30]
['A Study in Scarlet', 'A Scandle in Bohemia', 'The Sign of Four', 'The Hound of the Baskervilles', 'California']
Checking the number of occurances of A Study in Scarlet 1
Checking the number of occurances of 5 1
The position of The Sign of Four in the above list 2
The position of 5 in the above list 2
5 to be removed from the list [2, 3, 5, 7, 11, 13, 17, 23, 29, 30] , the new list is 5
 'A Study in Scarlet' removed from the list ['A Study in Scarlet', 'A Scandle in Bohemia', 'The Sign of Four', 'The Hound of the Baskervilles', 'California'] , the new list is The Sign of Four
 7 to be removed from the list [2, 3, 7, 11, 13, 17, 23, 29, 30] , the new list is None
 'A Study in Scarlet' removed from the list ['A Study in Scarlet', 'A Scandle in Bohemia', 'The Hound of the Baskervilles', 'California'] , the new list is None
Before [2, 3, 11, 13, 17, 23, 29, 30] 	 After: None
Before ['A Scandle in Bohemia', 'The Hound of the Baskervilles', 'California'] 	 After: None


Q. 5. Consider the following dictionaries.
    
    A = {'toystory':110,'kungfupanda':215,'incredibles',185}
    
    B = {'fast':98,'furious':55,'lazy':90}
    
    Illustrate the use of the following dictionaries functions:
    
    keys(), values(), pop(), popitem(), update(), items(), get()

[*02 Marks*]

In [34]:
# Solution to Q.5.
A = {'toystory':110,'kungfupanda':215,'incredibles':185}

B = {'fast':98,'furious':55,'lazy':90}
#prints the keys in a Dictionary
print(f"The keys in dictionary A {A.keys()}")
print(f"The keys in dictionary B {B.keys()}")

The keys in dictionary A dict_keys(['toystory', 'kungfupanda', 'incredibles'])
The keys in dictionary B dict_keys(['fast', 'furious', 'lazy'])

In [35]:
# printing the values in both the dictionaries
print(f"The values in dictionary A {A.values()}")
print(f"The values in dictionary B {B.values()}")

The values in dictionary A dict_values([110, 215, 185])
The values in dictionary B dict_values([98, 55, 90])

In [36]:
# Using the pop() to remove a key and return the value of the removed key in a dictionary
A = {'toystory':110,'kungfupanda':215,'incredibles':185}
B = {'fast':98,'furious':55,'lazy':90}
print(f"The key to be removed from the dictionary \"A\" is toystory and its value is {A.pop('toystory')}")
print(f"The dictionary after removing is : {A}")

print(f"The key to be removed from the dictionary \"B\" is fast and its value is {B.pop('fast')}")
print(f"The dictionary after removing is : {B}")

The key to be removed from the dictionary "A" is toystory and its value is 110
The dictionary after removing is : {'kungfupanda': 215, 'incredibles': 185}
The key to be removed from the dictionary "B" is fast and its value is 98
The dictionary after removing is : {'furious': 55, 'lazy': 90}

In [37]:
A = {'toystory':110,'kungfupanda':215,'incredibles':185}
B = {'fast':98,'furious':55,'lazy':90}
print(f"Using popitem() removing the last key value pair : {A.popitem()}")
print(f"Using popitem() removing the last key value pair : {B.popitem()}")

Using popitem() removing the last key value pair : ('incredibles', 185)
Using popitem() removing the last key value pair : ('lazy', 90)

In [38]:
A = {'toystory':110,'kungfupanda':215,'incredibles':185}
B = {'fast':98,'furious':55,'lazy':90}
# Using update() adding another key value pair to the dictionary
A.update({'fast&furious':1102})
print(f"Updated dictionary {A}")
B.update({'dumb':1102})
print(f"Updated dictionary {B}")

Updated dictionary {'toystory': 110, 'kungfupanda': 215, 'incredibles': 185, 'fast&furious': 1102}
Updated dictionary {'fast': 98, 'furious': 55, 'lazy': 90, 'dumb': 1102}

In [39]:
A = {'toystory':110,'kungfupanda':215,'incredibles':185}
B = {'fast':98,'furious':55,'lazy':90}
print(A.items())
print(B.items())

dict_items([('toystory', 110), ('kungfupanda', 215), ('incredibles', 185)])
dict_items([('fast', 98), ('furious', 55), ('lazy', 90)])

In [40]:
A = {'toystory':110,'kungfupanda':215,'incredibles':185}
name = A.get('toystory')
print(name)

110

## Tuples

### Tuple functions
* len(): - Returns the number of items in a tuple.  
* max(): - Returns the maximum element in a tuple.
* min(): - Returns the minimum element in a tuple.
* tuple(): - Converts an iterable data structure such as a list, string, or set into a tuple.
* index(): - Returns the index of an element in a tuple.
* count(): - Returns the number of occurrences of an element in a tuple.

In [41]:
# Taking an example for a Tuple
A = ("Hello","World ","this","is","an","example","of","tuple")
#Checking its type to confirm
type(A)

tuple

In [42]:
# The len() gives a the number of elements in a Tuple
print(f"The length of the tuple is {len(A)}")

The length of the tuple is 8

In [43]:
B = (1,2,3,4,5,6,7,8,9)
# The max() gives the maximum element of the Tuple
print(f"The Maximum element in the tuple B is {max(B)}")
#The min() gives the minimum element of the tuple
print(f"The Minimum element in the tuple B is {min(B)}")

The Maximum element in the tuple B is 9
The Minimum element in the tuple B is 1

In [44]:
# Consider a List
Li = ["Hello", "This", "is", "a", "list"]
print(Li)
print(f"The data type is {type(Li)}")
# Converting it into a tuple
Tli = tuple(Li)
print(Tli)
print(f"The data type is {type(Tli)}")

['Hello', 'This', 'is', 'a', 'list']
The data type is <class 'list'>
('Hello', 'This', 'is', 'a', 'list')
The data type is <class 'tuple'>

In [45]:
# index() returns the index of the element in a tuple
index = A.index("this")
print(f"The index postion of \"this\" in tuple A is {index}")

#count() Returns the number of occurrences of an element in a tuple.
A.count("tuple")

The index postion of "this" in tuple A is 2

1

## Sets

 The functions of sets are :
* union(): - Returns a new set with the elements that are in either set.
* intersection(): - Returns a new set with the elements that are in both sets
* add(): - Adds an element to the set.
* clear(): - Removes all elements from the set.

In [46]:
# Consider the Sets
A = {1, 2, 3, 4, 5}
B ={2,5,6,7,8}
# The union() returns the union of the two sets
print(f"The union of the two sets {A} & {B} is {A.union(B)}")
# The intersection() returns the intersection of the two sets
print(f"The intersection of the two sets {A} & {B} is {A.intersection(B)}")
#The add() adds an element to the set
print(f"The set A before adding an element is {A}")
A.add(7)
print(f"The set A after adding the element 7 is {A}")
# The clear() of a set removes all the elements from the set
A.clear()
print(f"The set A after removing all the elements is {A}, which is an empty set")

The union of the two sets {1, 2, 3, 4, 5} & {2, 5, 6, 7, 8} is {1, 2, 3, 4, 5, 6, 7, 8}
The intersection of the two sets {1, 2, 3, 4, 5} & {2, 5, 6, 7, 8} is {2, 5}
The set A before adding an element is {1, 2, 3, 4, 5}
The set A after adding the element 7 is {1, 2, 3, 4, 5, 7}
The set A after removing all the elements is set(), which is an empty set

### Demonstration of the OOPS concepts
* Designing a banking system witch classes to report accounts & taxes
* Simple game using classes and Object

In [47]:
class Customer:
  def __init__(self,name,acc_balance,acc_no):
    self.name = name
    self.acc_balance = int(acc_balance)
    self.acc_no = int(acc_no)
  def showBalance(self,acc_no):
    print(f"Your Account Balance is : {self.acc_balance}")
  def credit(self,acc_no):
    amt = int(input("Enter the amount to be added : "))
    self.acc_balance = self.acc_balance+amt
    print(f"Your new account balance is : {self.acc_balance+amt}")
    self.acc_balance = self.acc_balance+amt
  def debit(self,acc_no):
    amt1= int(input("Enter the amount to be debited : "))
    if self.acc_balance < amt1:
      print("Insufficient Funds")
    else:
      print(f"Your account balance is : {self.acc_balance - amt1}")
    return amt1
class Tax:
  def __init__(self, tax_rate):
    self.tax_rate = tax_rate

  def calculate_tax(self, amount):
    return (amount * self.tax_rate)/100

c1 = Customer("S1",145000,10022265434738)
t1 = Tax(7.245)
c1.showBalance(10022265434738)
c1.credit(10022265434738)
amt = c1.debit(10022265434738)
taxes = t1.calculate_tax(amt)
print(f"Tax for the recent purchase of Rs.{amt} is {taxes} ")

Your Account Balance is : 145000
Enter the amount to be added : 15000
Your new account balance is : 175000
Enter the amount to be debited : 1200
Your account balance is : 173800
Tax for the recent purchase of Rs.1200 is 86.94

In [48]:
from random import randint

class Player:
    def __init__(self, name):
        self.name = name
        self.guesses = 0

    def guess(self):
        guess = input("Guess a number between 1 and 10: ")
        self.guesses += 1
        return int(guess)
#Outside the Player class
class Computer:
    def __init__(self):
        self.number = randint(1, 11)

    def check_guess(self, guess):
        if guess == self.number:
            return "Correct!"
        elif guess < self.number:
            return "Too low."
        else:
            return "Too high."
# Outside the Computer class
def play_game():
    computer = Computer()
    print("Welcome to the Number Guesser game")
    player = Player(input("Enter your Name : "))

    while True:
        guess = player.guess()
        result = computer.check_guess(guess)

        if result == "Correct!":
            print(f"Congratulations, {player.name}! You guessed the number in {player.guesses} guesses.")
            break
        else:
            print(result)

if __name__ == "__main__":
    play_game()

Welcome to the Number Guesser game
Enter your Name : Player
Guess a number between 1 and 10: 5
Congratulations, Player! You guessed the number in 1 guesses.